.panel-tab-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.panel-tab {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--bs-link-color);

    &:hover {
      cursor: pointer;
    }

    &.active {
      color: var(--bs-link-color) !important;
    }
}

.panel-tabs-flex-wrapper {
  /* Ensures horizontally scrollable tabs */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.nav-spacing {
  display: inline;
  margin-right: 0;
  margin-left: 0;
}

.nav-item-spacing {
  display: inline-flex;
  align-items: center;
}