.help-modal-dialog {

	max-width: 960px;

	.iframe-container {
		position: relative;
	}

	.help-iframe {
		width: 100%;
		height: 80vh;
		overflow: hidden;
		border: 0;
	}

	.iframe-loading-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.help-nav-link {
	cursor: pointer;
}
