.container {
  overflow: hidden;
}

.status-card {
  height: 80%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status-card-body {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  text-align: center;
}

.status-row {
  justify-content: center;

  .col {
    > img {
      width: 60%;
      height: auto;
    }
  }

}

.status-card-text {
  padding-top: 2rem;
}

